@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext');
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #55ACEE;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 50px 0 100px 0;
    letter-spacing: 3px;
    color: #fff;
}

.box {
    text-align: center;
    color: #fff;
}

.trigger,
.tweet {
    display: block;
    width: 300px;
    padding: 10px 30px;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    background-color: #55ACEE;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.tweet {
    text-decoration: none;
}

.trigger:hover {
	background-color: #3B78A6;
}

.tweet:hover {
	background-color: #3B78A6;
}

.tweet,
i.fa {
    margin: auto;
}